html{
    scroll-behavior: smooth;

}

body{
    margin: 0px;
    background-color: black;
    color: white;
    font-family:'Cinzel', 'Playfair Display', 'Libre Baskerville', Georgia, 'Times New Roman', serif;
}

img{
    width: 512px;
    height: 362px;
    border-radius: 8px;
}

span{
    color: #eb1414;
}

div{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 64px;
}

a{
    font-size: 32px;
    color: white;
    text-decoration: none;
    padding-bottom: 32px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 8px;
    padding: 32px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
}


.liste{
    margin: 16px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 128px;
    flex-wrap: wrap;
    width: 1024px;
}