/***********************/
/********  FONT  *******/
/***********************/

@font-face {
    font-family: 'Minecraftia';
    src: url('minecraftia/Minecraftia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/************************/
/****  Presentation  ****/
/************************/

html {
    scroll-behavior: smooth;
    background-color: #f5f5f5;

}

body {
    font-family: 'Minecraftia', monospace;
    margin: 0px;
    color: rgb(45, 45, 45);
    text-shadow: 2px 2px rgba(179, 179, 179, 0.514);
    background: linear-gradient(to bottom,
        #ffffff,
        #a2d1ff,
        #93bcff
    );
}

hr {
    width: 80%;
    border: none;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}

h1 {
    color: rgb(20, 20, 20);
    text-shadow: 4px 4px rgba(179, 179, 179, 0.721);
    font-size: 7vh;
    opacity: 0; /* invisible at first */
    animation: fadeUp 1s ease forwards; /* fade in + up */
}

/*******************/
/* WELCOME Section */
/*******************/

.first-part {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*******************/
/* School & Images */
/*******************/

.second-part {
    min-height: 100vh;
    display: absolute;
}

h2 {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 48px;
    padding-bottom: 48px;
}

.txt {
    font-size: 18px;
    max-width: 25vw;
    font-size: 20px;
}

.ecole {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 128px;
    padding-bottom: 128px;
}

.block {
    display: flex;
    align-items: center;
    gap: 64px;
}

img {
    min-width: 5vw;
    max-width: 30vw;
    height: 42vh;
    border-radius: 8px;
}

.LFA {
    color: #eb1414;
}

/*******************************************************************/
/* Button style + Centered (https://codepen.io/joexmdq/pen/EOMLzg) */
/*******************************************************************/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}

.btn {
    display: flex;
    width: 20%;
    border: 4px solid #000;
    background: url("/img/bgbtn.png") center / cover;
    image-rendering: pixelated;
    text-shadow: 2px 2px #000A;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f4f3f3;
    cursor: pointer;
    box-shadow: inset -4px -8px #0006, inset 4px 4px #FFF7
}

.plus {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 0 6px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #f4f3f3;
    text-shadow: 2px 2px #000A;
    box-shadow: inset -4px -8px #0006, inset 4px 4px #FFF7;
}

/***************************/
/* Animation when mouse on */
/***************************/

.btn:hover .plus {
    background-color: rgba(100, 100, 255, .45);
    text-shadow: 2px 2px #202013CC;
    color: #FFFFA0;
}

/**************************/
/* Animation when clicked */
/**************************/

.btn:active {
    box-shadow: inset 2px 0px #0004, inset -2px -2px #FFF5;
}

/**************************/
/* Animation fade in + up */
/**************************/

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(2.5vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}